<div [ngClass]="{'coursepanel':true, 'top-rated':course.topRated}" courseBorder [courseBorderSet]="course.date">
	<div class="row">
		<div class="col-md-10">
			<div class="row">
				<span class="col-md-3">{{course.name | uppercase}}</span>
				<span class="col-md-3">{{course.duration | myCourseDuration}}</span>
				<span class="col-md-3 text-right">{{course.date | date : 'MM/dd/yyyy'}}</span>
				<span *ngIf="course.topRated" class="col-md-3 star-rate"><i class="material-icons">star</i></span>
			</div>
			<div class="row">
				<pre class="col-md-12">{{course.description}}</pre>
			</div>
		</div>
		<div class="col-md-2">
			<button class="pull-right button btn btn-default edit-button" id="editcourse">Edit course</button>
			<button class="pull-right button btn btn-default delete-button" id="deletecourse" (click)="onDeleteCourse()">Delete</button>
		</div>
	</div>
</div>