<div class="coursepanel">
    <div class="row">
        <div class="col-md-2 courselogo">
            <img src="http://prideparrot.com/Source-Codes/Images/bootstrap/comicchar2.png" class="zoomLogo">
           C&V
        </div>
        <div class="col-md-4 center">
            <bread-crumb *ngFor="let breadcrumb of breadCrumbList" [breadCrumb]="breadcrumb"></bread-crumb>
        </div>
        <div class="col-md-6 text-right" *ngIf="authService.IsAuthenticated()">
            <div>{{userInfo}}</div>
            <div><a routerLink="/login" (click)="onLogoff()">logoff</a></div>
        </div>
    </div>
</div>